@page "/login"
<div class="login_form">
@inject HttpClient http
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations

<h1>Package Types</h1>

<EditForm EditContext="@editContext" OnValidSubmit="HandleOnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group row mb-3 justify-content-center">
        <label class="col-md-3 col-form-label">Email <span class="text-danger">*</span></label>
        <div class="col-md-9">
            <TextInput @bind-Value="loginUser!.Email" Placeholder="Enter Email" />
            <ValidationMessage For="@(() => loginUser!.Email)" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-md-3 col-form-label">Password <span class="text-danger">*</span></label>
        <div class="col-md-9">
            <PasswordInput @bind-Value="loginUser!.Password" Placeholder="Password" />
            <ValidationMessage For="@(() => loginUser!.Password)" />
        </div>
    </div>
    <div class="d-flex justify-content-center gap-2">
        <Button Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
    </div>
</EditForm>

<Button Color="ButtonColor.Primary" Class="mb-3 padding: 5px 5px 5px 5px" @onclick="OpenRegisterModal">Register</Button>

<Modal @ref="modal" Title="Register" IsVerticallyCentered="true">
    <BodyTemplate>
        <EditForm EditContext="@registerEditContext" OnValidSubmit="HandleOnValidRegister">
            <DataAnnotationsValidator />

            <div class="form-group row mb-3">
                <label class="col-md-3 col-form-label">Package Type <span class="text-danger">*</span></label>
                <div class="col-md-9">
                    <select class="form-select" @bind="user!.RoleId">
                        <option value="">Select a type</option>
                        @if (roles is not null)
                        {
                            @foreach (var t in roles)
                            {
                                <option value="@t.Uid">@t.Name</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => user.RoleId)" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-md-3 col-form-label">Name <span class="text-danger">*</span></label>
                <div class="col-md-9">
                    <TextInput @bind-Value="user!.Name" Placeholder="Enter name" />
                    <ValidationMessage For="@(() => user.Name)" />
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-md-3 col-form-label">Email <span class="text-danger">*</span></label>
                <div class="col-md-9">
                    <TextInput @bind-Value="user.Email" Placeholder="Enter name" />
                    <ValidationMessage For="@(() => user.Email)" />
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2">
                <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" @onclick="CloseModal">Cancel</Button>
                <Button Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
            </div>
        </EditForm>
    </BodyTemplate>
</Modal>
</div>

@code {
    private Modal modal = default!;
    private EditContext? editContext;
    private EditContext? registerEditContext;

    private List<Role>? roles = [];
    private UserView? user;
    private UserView? loginUser;

    protected override async Task OnInitializedAsync()
    {
        loginUser = new();
        editContext = new(loginUser);
        roles = await http.GetFromJsonAsync<List<Role>>("api/role");
    }

    private async Task OpenRegisterModal() 
    {
        user = new();
        registerEditContext = new(user);
        await modal.ShowAsync();
    }

    private async Task CloseModal()
    {
        await modal.HideAsync();
    }

    private async Task HandleOnValidRegister() 
    {

    }
    private async Task HandleOnValidSubmit()
    {

        await modal.HideAsync();
    }
    private class UserView {
        public string? Name;
        public string? Email;
        public string? Password;
        public Guid? RoleId;
    }
}